.Cell.alive svg{
  fill: #2ab6da;
}

.Cell.dead svg{
  fill: #dddddd;
}

.Cell svg {
  width: 100%;
  height: auto;
  display: block;
  fill: #dddddd;
  transition: fill, transform 0.2s ease-out;
}

.Cell svg:hover{
  fill: #99cdda;
  transform: rotate(90deg);
}