.Game {
  width: 80%;
  margin: auto;
}

.Game .Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header svg {
  width: 40px;
  height: 40px;
  max-height: 100%;
  margin-right: 20px;
  fill: #322036;
  transition: fill 0.3s ease-in-out;
}

.Header svg:hover {
  fill: #e7ad48;
}

.Grid {
  margin: auto;
  max-width: 650px;
}

.ButtonPanel {
  width: auto;
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.Spinner {
  position: absolute !important;
  width: 50px !important;
  height: 50px !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #e7ad48 !important;
}