.Button {
  display: inline-block;
  border-radius: 5px;
  background-color: #e7ad48;
  color: #FAF9F9;
  padding: 10px 25px;
  border: none;
  font-size: 1.5rem;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.Button:hover {
  background-color: #e6be7a;
}

.Button.danger {
  background-color: #df5a48;
}

.Button.danger:hover {
  background-color: #e18a7e;
}

.Button.disabled,
.Button:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}

.Button:hover.disabled,
.Button:hover:disabled {
  background-color: #aaaaaa;
}