.Spinner {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: slateblue;
  visibility: hidden;
}

.Spinner::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  visibility: visible;
  opacity: 0.5;
  border-radius: 100%;
  animation-name: scale;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.Spinner::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  visibility: visible;
  opacity: 0.5;
  border-radius: 100%;
  animation-name: scale;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}