.SideDrawer {
  position: fixed;
  top: 0; left: 0;
  background-color: #FAF9F9;
  transition: left 0.5s ease-in-out;
  overflow: scroll;
  padding: 25px;
  max-height: 100%;
  height: 100%;
  min-width: 300px;
  box-sizing: border-box;
}

.SideDrawer.closed {
  left: -150vw;
}

.CloseIcon {
  position: absolute;
  top: 50%; right: 0;
  transform: translateY(-50%);
  fill: #322036;
  transition: fill 0.3s ease-in-out;
}

.CloseIcon:hover {
  fill: #e7ad48;
}

.Header {
  position: relative;
}

.Header h2 {
  font-size: 3rem;
  margin: 0px;
}