.Card {
  display: block;
  list-style: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),0px 0px 0px 0px rgba(0, 0, 0, 0.14),0px 0px 0px 0px rgba(0,0,0,.12);
  margin: 25px 0px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.Card h3 {
  font-size: 2rem;
  margin: 0;
}

.Card img {
  display: inline-block;
  width: 100%;
}

.Card h3 {
  display: inline-block;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.Arrow {
  transform: rotate(0deg);
  transition: all 0.3s ease-out;
}

.Expanded .Arrow {
  transform: rotate(180deg);
}

.Content{
  max-height: 0;
  overflow: hidden;
  height: auto;
  transition: all 0.3s ease-in-out;
  padding: 0px 16px 0px 16px;
}

.Expanded .Content{
  max-height: 250px;
  height: auto;
  padding: 0px 16px 16px 16px;
}

.Expanded .Content p {
  overflow: visible;
}

.Content p {
  overflow: hidden;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.8rem;
  letter-spacing: 0.08rem;
}