.Snackbar {
  position: fixed;
  background-color: #333333;
  color: white;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 344px;
  min-height: 38px;
  padding: 0 16px;
  border-radius: 4px;
  font-size: 1.4rem;
  z-index: 999;
  box-sizing: border-box;
  transition: bottom 0.5s ease-in-out;
}

.Snackbar.show {
  bottom: 15px;
}